body {
    list-style: none;
}
.img {
    display: block;
    width: 100%;
    height: 200px;
    background-color: gray;
}

.filter input {
    border: none;
    outline: none;
    width: 500px;
}

.filter input::placeholder {
    color: white;
}

ul {
    list-style: none;
}

.containers {
    height: 450px;
    background-color: lightgrey;
}

.textDescription {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    max-height: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description {
    font-size: 12px;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.description ul {
    padding: 0;
}

.listFilter ul{
    position: relative;
    z-index: 8;
    color: white;
    height: 50%;
    column-width: 120px;
}

.tags ul {
    display: flex;
    align-items: center;
}

.tags ul li {
    display: flex;
    align-items: baseline;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.tags ul li p {
    margin:0 10px 0 0;
}

.listFilter {
    position: absolute;
    top: 32px;
    width: 500px;
}
.listFilter ul {
    padding-bottom: 10px;
    border-radius: 0 0 5px 5px;
}
  
.input-icons {
    width: 100%;
}
  
.icon {
    position: absolute;
    top: 10px;
    right: 0;
}
  
.search {
    width: 100%;
    padding: 10px;
}

.fa-magnifying-glass {
    padding: 10px;
    min-width: 40px;
}

.fa-caret-up {
    color: white;
    font-size: 10px;
    padding: 5px;
    min-width: 30px;
}